<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Account Details</title>
        <% include common-links.ejs %>
    </head>
    <body>
        <% include user-navbar.ejs %>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Your NUSCloud Account</h1>
                </div>
                <div class="login-form details">
                    <div><p>Username: <%= user.username %></p></div>
                    <div><p>Name: <%= user.name %></p></div>
                </div>
            </div>
            <div class="detail-screen-left">
                <div class="login-form details">
                    <p>Use your account to <b>log in</b> to NUSCloud applications</p>
                    <a class="nuscloud-btn btn-account" href="/account/apps">Your Apps</a>
                   <p></p> <p>Features coming soon:
                        <ul>
                            <li>Permission controls</li>
                            <li>Account management</li>
                            <li>Adding friends on NUSCloud</li>
                            <li>Privacy control</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="detail-screen-right">
                <div class="login-form details">
                    <p>Use your account to <b>make</b> NUSCloud applications</p>
                    <p>Build NUS web apps quickly and easily</p>
                    <a class="nuscloud-btn btn-account" href="/client/registration">Create</a>
                    <a class="nuscloud-btn btn-account" href="/account/dev">Manage</a>
                    <a class="nuscloud-btn btn-account" href="/">Docs</a>
                </div>
            </div>
        </div>
    </body>
</html>

            </div>
        </div>
    </body>
</html>
