<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Add Friends</title>
        <% include common-links.ejs %>
    </head>
    <body>
        <% include user-navbar.ejs %>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Add Friends</h1>
                 </div>
            </div>
            <div class="login-screen">
                <input id="add-filter" type="text" class="form-control" 
                    placeholder="Search by name / username / email" />
            </div>
            <div class="login-screen" />
                <div class="requestlist">
                    <ul id="notfriends" class="searchable">
                    </ul>
                </div>
            </div>
        </div>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
        <script src="/js/add-friends.js"></script>
    </body>
</html>
