<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dev - Your NUSCloud Apps</title>
        <% include common-links.ejs %>
    </head>
    <body>
        <% include user-navbar.ejs %>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h2>Dev - Your NUSCloud Apps</h2>
                    <a class="nuscloud-btn" href="/client/registration"><h2>
                        Create a New App
                    </h2></a>
                </div>
            </div>
            <% if (apps.length > 0) { %>
                <% for(var i=0; i<apps.length; i++) {%>
                    <div class="login-screen">
                        <div class="login-form details">
                            <div class="app-title">
                                <h2><%= apps[i].name %></h2>
                            </div>
                            <ul>
                                <li><b>App Id:</b> <%= apps[i].clientId %></li>
                                <li><b>App Secret:</b> <%= apps[i].clientSecret %></li>
                            </ul>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <div class="login-screen">
                    <div class="login-form details">
                        <p>You have not created any apps yet!</p>
                    </div>
                </div>
            <% } %>
        </div>
    </body>
</html>

