<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Create an NUSCloud Application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" /> 
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans" type="text/css" />
    </head>
    <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><b>NUSCloud</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/account">Account</a></li>
            <li><a href="/account/apps">My Apps</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h2>Create an NUSCloud Application</h2>
                </div>
            
                <form action="/client/registration" method="post" class="login-form">
	                <div class="control-group">
	                    <input type="text" class="login-field" value="" 
                            name="name" id="name" 
                            placeholder="app name"/>
                    </div>
                    <div class="control-group">
                        <input type="text" class="login-field" value=""
                            name="namespace" id="namespace"
                            placeholder="app namespace"/>
                    </div>
	                <div class="control-group">
	                    <input type="text" class="login-field" value="" 
                            name="domain" id="domain" 
                            placeholder="app domain"/>
                    </div>
                    
                    <input type="submit" value="register" class="btn" />
                
                </form>
            </div>
        </div>
    </body>
</html>
