<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login with NUSCloud</title>
        <% include common-links.ejs %>    
    </head>
    <body>
        <% include public-navbar.ejs %>
        <div class="container-fluid"> 
        <div class="col-md-6 col-md-offset-3">
            <div class="login-screen">
                <div class="app-title">
                    <h2>Login with NUSCloud</h2>
                </div>
            
                <form action="/login" method="post" class="login-form">
	                <div class="control-group">
	                    <input type="text" class="login-field" value="" 
                            name="username" id="username" 
                            placeholder="username"/>
                    </div>
                    <div class="control-group">
                        <input type="password" class="login-field" value="" 
                            name="password" id="password" placeholder="password"/>
                    </div>
                 
                    <input type="submit" value="login" class="nuscloud-btn" />
                
                </form>
            </div>
            </div>
        </div>
        <% include end-js.ejs %>
    </body>
</html>
