<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#public-navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><b>NUSCloud</b></a>
        </div>
        <div class="navbar-collapse collapse" id="public-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://docs.nuscloud.com">API Docs</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration">Register</a></li>
            </ul>
        </div>
    </div>
</div>
