<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Register with NUSCloud</title>
        <% include common-links.ejs %>
    </head>
    <body>
        <% include public-navbar.ejs %>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h2>Register with NUSCloud</h2>
                </div>
                <% if (locals.msg){ %>
                    <div class="login-form alert"><p><%= msg %></p></div>
                <%}%>  
                <form action="/registration" method="post" class="login-form">
	                <div class="control-group">
	                    <input type="text" class="login-field" value="" 
                            name="name" id="name" 
                            placeholder="name"/>
                    </div>
                    <div class="control-group">
                        <input type="text" class="login-field" value=""
                            name="username" id="username"
                            placeholder="username"/>
                    </div>
	                <div class="control-group">
	                    <input type="email" class="login-field" value="" 
                            name="email" id="email" 
                            placeholder="nus email"/>
                    </div>
	                <div class="control-group">
	                    <input type="password" class="login-field" value="" 
                            name="password" id="password" 
                            placeholder="password"/>
                    </div>
                    
                    <input type="submit" value="register" class="nuscloud-btn" />
                
                </form>
            </div>
        </div>
    </body>
</html>
