<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Register with NUSCloud</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
    </head>
    <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><b>NUSCloud</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
            <li><a href="/registration">Register</a></li>
          </ul>
        </div>
      </div>
    </div>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h2>Register with NUSCloud</h2>
                </div>
            
                <form action="/registration" method="post" class="login-form">
	                <div class="control-group">
	                    <input type="text" class="login-field" value="" 
                            name="name" id="name" 
                            placeholder="name"/>
                    </div>
                    <div class="control-group">
                        <input type="text" class="login-field" value=""
                            name="username" id="username"
                            placeholder="username"/>
                    </div>
	                <div class="control-group">
	                    <input type="email" class="login-field" value="" 
                            name=email" id="email" 
                            placeholder="nus email"/>
                    </div>
	                <div class="control-group">
	                    <input type="password" class="login-field" value="" 
                            name="password" id="password" 
                            placeholder="password"/>
                    </div>
                    
                    <input type="submit" value="register" class="btn" />
                
                </form>
            </div>
        </div>
    </body>
</html>
