<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid"> 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#user-navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><b>NUSCloud</b></a>
        </div>
        <div class="navbar-collapse collapse" id="user-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/account">Home</a></li>
                <li><a href="/friends">Friends</a></li>
                <li><a href="/account/apps">Apps - User</a></li>
                <li><a href="/account/dev">Apps - Dev</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
