<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Your NUSCloud Apps</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" /> 
        <link rel="stylesheet" href="/styles/style.css" type="text/css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans" type="text/css" />
    </head>
    <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><b>NUSCloud</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/account">Account</a></li>
            <li><a href="/account/apps">My Apps</a></li>
            <li><a href="/account/dev">Dev</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Your NUSCloud Apps</h1>
                </div>
            </div>
            <% if (perms.length > 0) { %>
                <% for(var i=0; i<perms.length; i++) {%>
                    <div class="login-screen">
                        <div class="login-form details">
                            <div class="app-title">
                                <h2><%= perms[i].clientname %></h2>
                            </div>
                            <ul>
                                <li><h4><b>Permissions:</b> <%= perms[i].permissions %></h4></li>
                            </ul>
                            <a class="btn" href="/account/apps/<%= perms[i].clientId %>">View Data</a>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <div class="login-screen">
                    <div class="login-form details">
                        <p>You have not signed in to any apps yet!</p>
                    </div>
                </div>
            <% } %>
        </div>
    </body>
</html>

